[submodule "gui-common"]
	path = gui-common
	url = git@github.com:paulyc/gui-common.git
	branch = master
[submodule "libopenpst"]
	path = libopenpst
	url = git@github.com:paulyc/libopenpst.git
	branch = master
[submodule "sahara"]
	path = sahara
	url = git@github.com:paulyc/sahara.git
	branch = master
[submodule "qcdm"]
	path = qcdm
	url = git@github.com:paulyc/qcdm.git
	branch = master
[submodule "streaming-dload"]
	path = streaming-dload
	url = git@github.com:paulyc/streaming-dload.git
	branch = master
[submodule "readmbn"]
	path = readmbn
	url = git@github.com:paulyc/readmbn.git
	branch = master
